body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.section {
    display: none;
}

.activeSection {
    display: block !important; 
}

button{
    cursor: pointer;
}

a {
     color: gray;
}

a:hover {
    color: rgb(230, 81, 81);
}

#top {
    text-align: center;
}

    #logo {
        height: 75px;
        width: 270px;
        margin: auto;
        margin-top: 16px;
    }

        #logo button {
            height: 100%;
            width: 100%;
            border: 2px solid rgb(3, 3, 3);
            border-radius: 5px;
            text-align: left;
            padding-left: 0%;
            padding-right: 0%;
        }

        #logo button:hover {
            border: 5px solid rgb(3, 3, 3);
        }

        #logo button img {
            height: 100%;
            width: 100%;
        }

    #headline {
        font-size: 24px;
        font-weight: bold;
        margin-top: 32px;
        margin-bottom: 16px;
    }

    #discription {
        max-width: 900px;
        margin: auto;
    }

        
    #image img {
        width: 100%;
        margin-top: 16px;
        margin-bottom: 16px;
    }

.inputSection {
    text-align: center;
}

    .inputSection h2 {
        margin:auto;
    }

    .userInput {
        background-color: rgb(206, 206, 206);
        padding: 8px;
        margin-top: 16px;
    }

        .userInput button:hover {
            background-color: rgb(230, 81, 81);
        }

.listSection {
    margin: auto;
    max-width: 800px;
    background-color: rgb(206, 206, 206);
    border: 10px solid rgb(206, 206, 206);
    border-radius: 10px;
}

    .listSection h2{
        text-align: center;
    }

ul {
    max-width: 600px;
    margin: auto;
    list-style: none;
    padding-left: 0;
    border: 2px solid rgb(110, 110, 110);
    border-radius: 5px;
}

li {
    height: 60px;
    width: 100%;
}

    li img{
        height: 100%;
        margin-left: 0;
    }

    li p{
        padding-left: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.playlistButton{
    height: 100%;
    width: 100%;
    padding-left: 0%;
    text-align: left;
    font-size: 24px;
    border: 2px solid rgb(206, 206, 206);
    border-radius: 5px;
    background-color: white;
}

    .playlistButton:hover{
        background-color: rgb(206, 206, 206);
    }

#centerButton {
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: auto;
}

    #centerButton button{
        height: 30px;
        background-color: white;
        margin-bottom: 16px;
        border: 2px solid rgb(110, 110, 110);
        border-radius: 15px;
    }

    .controlButton{
        width: 20%;
    }

    #convertButton {
        width: 60%;
    }

    #centerButton button:hover {
        background-color: rgb(230, 81, 81);
        border: 3px solid rgb(110, 110, 110);
    }

.track{
    height: 100%;
    width: 100%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    vertical-align: middle;
    border: 2px solid rgb(206, 206, 206);
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

    .track p{
        max-width: 490px;
    }
    /* Hide the browser's default checkbox */
    .track input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 40px;
        width: 40px;
        background-color: rgb(206, 206, 206);
    }

    .track:hover{
        background-color: rgb(206, 206, 206);
    }
    /* On mouse-over, add a grey background color */
    .track:hover input ~ .checkmark {
        border: 2px solid black;
    }
    /* When the checkbox is checked, add a red background */
    .track input:checked ~ .checkmark {
        background-color: rgb(230, 81, 81);
    }
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark when checked */
    .track input:checked ~ .checkmark:after {
        display: block;
    }
    /* Style the checkmark/indicator */
    .track .checkmark:after {
        left: 13px;
        top: 8px;
        width: 10px;
        height: 20px;
        border: solid white;
        border-width: 0 5px 5px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

#endScreen {
    margin: auto;
    max-width: 800px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

#footer {
    text-align: center;
    font-size: 14px;
    color: rgb(230, 81, 81);
    margin: 16px;
}
